<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <connectionStrings>

    <!--<add name="constr" connectionString="Data Source=OXMXCDMV2K8035\ADAMPROD;Initial Catalog=ZOXIMPEXP;Persist Security Info=True;User ID=ekouser;Password=eko2014"/>-->
    <!--<add name="MiConexion" connectionString="Data Source=OXMXCDMV2K8035\ADAMPROD;Initial Catalog=ZOI1;Persist Security Info=True;User ID=ekouser;Password=eko2014" />-->
    <add name="MiConexion" connectionString="Data Source=.;Initial Catalog=TuDB;Persist Security Info=True;User ID=sa;Password=xxxx"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <!--<add name="XLS.My.MySettings.ZOI1ConnectionString" connectionString="Data Source=OXMXCDMV2K8035\ADAMPROD;Initial Catalog=ZOI1;Persist Security Info=True;User ID=ekouser"/> -->
  </connectionStrings>
  
</configuration>
